[Desktop Entry]
Type=Application
Name=Pipeweaver
Comment=Audio Control and Routing
Path=/usr/bin
Exec=/usr/bin/pipeweaver-daemon
Icon=pipeweaver
Terminal=false
Categories=Utility
StartupNotify=false
X-KDE-StartupNotify=false