[Desktop Entry]
Type=Application
Name=Pipeweaver
Comment=Audio Control and Routing
Path=/usr/bin
Exec=/usr/bin/pipeweaver-deamon
Icon=pipeweaver
Terminal=false
Categories=Utility
