body {
    background-color: #252927;
    padding: 0;
    margin: 10px;
}


#app {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-size: 0.8em;
    user-select: none;
}

body.dragging {
    cursor: move !important;
}